ul {
    height: 20rem;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f4f4f4;
    color: #070707;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

main {
    width: 90%;
    max-width: 500px;
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

#main-error{
    padding-top: 0.5rem;
    font-family: "inter", sans-serif;
    color: #df2424;
}

h2 {
    text-align: center;
    margin-top: 0;
}


.input-group {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.input-group input[type="text"] {

    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input-group button {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #37d144;
    color: rgb(32, 29, 29);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.error-message {
    display: none; 
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#task-list {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

#task-list li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid #eee;
}



#task-list li .delete-btn {
    background: #ee1e1e;
    color: rgb(253, 247, 247);
    border: none;
    padding: 0.3rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
}


#task-list li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #888;
}


#task-list li.completed label {
    text-decoration: line-through;
    color: #888;
}

#task-list li label {
    flex-grow: 1; 
    cursor: pointer; 
    
    text-align: justify
}

#task-list li:hover{
    background-color: #e4e4e4;
}

#id-contador {
    margin-top: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
        
}

#total{
    background-color: rgb(241, 214, 139);
    color: rgb(12, 0, 0);
    border: none;
    border-radius: 9%;
    width: 4rem;
    height: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


#completed{
    background-color: rgb(192, 245, 192);
    color: rgb(12, 0, 0);
    border: none;
    border-radius: 9%;
    width: 7rem;
    height: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#incompleted{
    background-color: rgb(241, 65, 65);
    color: rgb(15, 0, 0);
    border: none;
    border-radius: 9%;
    width: 7rem;
    height: 35px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}